* {
	font-family: Montserrat, sans-serif;
}

body {
	padding-left: 15px;
	padding-right: 15px;
}

footer {
	position: relative;
	bottom: 0px;
	width: 100%;
}

.copyright {
	margin: auto;
	text-align: center;
}

.muted {
	opacity: 0.7;
}

.load {
	height: 100%;
	top: 50%;
}

.snowflake {
	width: 6vw;
	height: 6vw;
	margin-bottom: 1vw;
}

.subtitle {
	width: 100%;
	text-align: center;
	font-size: 2vw;
	font-weight: 300;
}

.title {
	width: 100%;
	text-align: center;
	font-size: 7vw;
}

.section-title {
	width: 100%;
	text-align: center;
	font-size: 3vw;
}

hr {
	width: 80%;
	border-top: 1px solid gray;
}

.section-a {
	
}

.section-b {
	
}
