.main {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.section {
	display: flex;
	flex-direction: row wrap;
	horizontal-align: center;
}

.section-column {
	display: flex;
	width: 80%;
	flex-direction: column;
	horizontal-align: center;
}

.line {
	height: 100%;
	width: 2%;
	border-left: thick solid black;
}

.block {
	width: 5vh;
	height: 5vh;
}

div.block + div.block {
	margin: 0 0 0 5;
}


.draggable {
		width: 2.5vw;
		height: 5vh;
		min-width: 2.5vw;
		max-width: 2.5vw;
}

.component {
	position: inherit;
}

.design-container {
	position: absolute;
	top: 0%;
	left: 80%;
	width: 20%;
	height: 100%;
	border: 2px solid slategray;
	overflow: hidden;
}


.location {
	align-content: center;
	vertical-align: middle;
	text-align: center;
}

div > .btn {
	margin-bottom: 5px;
}

div > input {
	margin-top: 5px;
}

input {
	width: 18vw;
	min-width: 18vw;
}

.btn {
	width: 15vw;
}

nav {
	min-width: 25vw;
}

.overlay {
	position: absolute;
	z-index: 10;
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,0.5);	
}

.editable {
	width: 15vw;
	max-width: 15vw;
}
